*{
    border:mediumturquoise ;
border:2px solid ;
}

li { color: red;
    background-color: beige;}

    span {color: pink;}

    #groc {color: green;}

    .yellow {color: blue;
        background-color: aqua;}
